html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;  
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.maze-container {
    display: flex;
    flex-wrap: wrap;
    background: #000;
}

button {
    background: rgba(137, 43, 226, 0.899);
    padding-block: 8px;
    padding-inline: 20px;
    color: aliceblue;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
}

button:hover {
    transition: 0.6s ease-in-out;
    background: blueviolet;
}


